body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #8BD1F6;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
  }
/*   VINS LOGIN PAGE MAN SAPISH STILU XD JO TEV IR NORADITS GLOBALI UZ VISAM POGAM i guess..
  button {
    padding: 8px 16px;
    background-color: #007bff;  
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #D9DCF2;
  } */